<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Customer Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../static/home.css" rel="stylesheet">

</head>

<body>
<div class="row">
    <div class="mx-auto order-0">
        <disclaimer style="text-align:center;">SFSU Software Engineering Project CSC 648-848, Spring 2019. For Demonstration Only</disclaimer>
    </div>
</div>

{##}
{#{% if current_user.user_id %}#}
{#    Hi {{ username }}!#}
{#    <form method="POST" action="/logout">#}
{#        <button>logout</button>#}
{#    </form>#}
{#{% endif %}#}

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search_results">
                    <span>Browse</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landlord_dashboard/add_a_new_listing">
                    <span>Post</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landlord_dashboard">
                    <span>Landlord dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer_dashboard">
                    <span>Customer dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <span>About Us</span></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">LiveGator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if current_user.user_id %}
                <li class="nav-item">
{#                    <span>Hi {{ username }}!</span>#}

                    <a class="nav-link">
                    <i class="far fa-user"></i>
                    <span>Hi {{ username }}!</span> </a>

                </li>



                <li class="nav-item">
                    <form method="POST" action="/logout">
                        <button>logout</button>
                    </form>
{#                #}
{#                <form class="nav-link" method = "POST" href="/logout">#}
{#                    <i class="far fa-user"></i>#}
{#                    <span>Logout</span> </form>#}


                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="/signup">
                    <i class="far fa-user"></i>

                    <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- Body -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <a class="icon" href="/customer_dashboard/view_orders">
                <img src="../static/icons/view_all.svg" alt="View All Orders">
                View Order
            </a>
            <br>
        </div>
        <div class="col-sm">
            <a class="icon" href="/customer_dashboard/view_pending_request">
                <img src="../static/icons/view_pending.svg" alt="View Pending">
                View Pending
            </a>
            <br>
        </div>        <div class="col-sm">
            <a class="icon" href="/customer_dashboard/view_msg">
                <img src="../static/icons/view_messages.svg" alt="View Messages">
                View Messages
            </a>
            <br>
        </div>
    </div>
</div>

</body>
</html>

