<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LiveGator</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template-->
    <link href="../static/home.css" rel="stylesheet">

</head>

<body id="page-top">
<disclaimer style="text-align:center" >SFSU Software Engineering Project CSC 648-848, Spring 2019. For Demonstration Only</disclaimer>


{#{% if current_user.user_id %}#}
{#    Hi {{ username }}!#}
{#    <form method="POST" action="/logout">#}
{#        <button>logout</button>#}
{#    </form>#}
{#{% endif %}#}

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark ">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/search_results">
                    <span>Browse</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landlord_dashboard/add_a_new_listing">
                    <span>Post</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/landlord_dashboard">
                    <span>Landlord dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customer_dashboard">
                    <span>Customer dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">
                    <span>About Us</span></a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/">LiveGator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if current_user.user_id %}
                <li class="nav-item">
{#                    <span>Hi {{ username }}!</span>#}

                    <a class="nav-link">
                    <i class="far fa-user"></i>
                    <span>Hi {{ username }}!</span> </a>

                </li>



                <li class="nav-item">
                    <form method="POST" action="/logout">
                        <button>logout</button>
                    </form>
{#                #}
{#                <form class="nav-link" method = "POST" href="/logout">#}
{#                    <i class="far fa-user"></i>#}
{#                    <span>Logout</span> </form>#}


                </li>
            {% else %}
                <li class="nav-item">
                <a class="nav-link" href="/signup">
                    <i class="far fa-user"></i>

                    <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Find your ideal home near SFSU!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form class="form-row" method="GET" action="/search" style="margin:auto;max-width:600px">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" class="form-control form-control-lg" placeholder="Start searching..." name="search_key">
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit"class="btn btn-block btn-lg btn-dark">Search</button>
                    </div>
                </form>
                <a href="/search_results" class = text-white>..or Browse</a>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div id="content">
    <div class = "container">
        <div class =p-2>
            <h2 class = text-center > Newly Added </h2>
        </div>
        <div class="card-deck">
            {% for item in data %}
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename=item.image_url) }}" alt="Card image cap" >
                    <div class="card-body">
                        <h5 class="card-title">{{item.house_name}}</h5>
                        <p class="card-text"> ${{item.price}} </p>
                        <p class="card-text">{{item.bedroom_count}} bed, {{item.bathroom_count}} bath, {{item.parking_count}} parking </p>
                        <p class="card-text"> {{item.number}}  {{item.street}} </p>
                        <p class="card-text">{{item.city}} {{item.state}} {{item.zipcode}}</p>
                        <a href="/all_listings/{{ item.house_id}}" class="btn btn-dark stretched-link">View Listing</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{#<h2>This part below is to show search is connected and will be removed after final implementation</h2>#}
{##}
{##}
    {#          <!-- Topbar Navbar -->#}
    {#          <ul class="navbar-nav ml-auto">#}
    {#            <li class="">#}
    {#              <form action="">#}
    {#                <button type="button">Logout</button>#}
    {#              </form>#}
    {#            </li>#}
    {#          </ul>#}
{##}
{##}
{#    {% for item in data %}#}
{#        <li>#}
{#            <div>#}
{#                <div >#}
{#                    <a href='/all_listings/{{ item.house_id}}'>#}
{#                        <img class="img-responsive" src="{{ url_for('static', filename=item.image_url) }}" height="10%"  ></img>#}
{#                        <h4> {{item.house_name}}</h4>#}
{#                    </a>#}
{#                </div>#}
{#                <div >#}
{#                    <p>Price: {{item.price}}</p>#}
{#                    <p>Type: {{item.type}}</p>#}
{#                    <p>Size: {{item.size}}</p>#}
{#                    <p>Distance: {{item.distance}}</p>#}
{#                    <p>Features: {{item.bedroom_count}} bedroom(s), {{item.bathroom_count}} bathroom(s), {{item.parking_count}} parking spot(s)</p>#}
{#                    <p>Address: {{item.number}}  {{item.street}}  {{item.city}} {{item.state}} {{item.zipcode}}</p>#}
{#                    <p>Description: {{item.description}}</p>#}
{#                </div>#}
{#            </div>#}
{#        </li>#}
{#    {% endfor %}#}
    <!-- js stuff -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; LiveGator 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
</body>
</html>