<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Listing Page</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css.css" rel="stylesheet">

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 40%;
            width: 40%;
        }
    </style>

</head>



<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/search_results"">
                    <span>Rent</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/renter_dashboard/add_a_new_listing">
                        <span>Post</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer_dashboard">
                        <span>My Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span>About Us</span></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">LiveGator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <i class="far fa-user"></i>

                        <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Log In">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            </ul>
        </div>
    </nav>

      <!-- Main Content -->
      <div id="content">


        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">1234 Pineapple Way, Bikini Bottom, CA, 94234</h1>
          </div>
          <div class="d-sm-flex align-items-center justify-content-center mb-4">

              <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
              <!--remove this later-->
              <h1 class="h3 mb-0 text-gray-800">Image here</h1>
              <!--make sure the class is mySlides-->
              <img class="mySlides" src="img_snowtops.jpg">
              <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
          </div>
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h3 class="text-gray-800">Type: Apartment</h3>
              <h3 class="text-gray-800">rooms: 1</h3>
              <h3 class="text-gray-800">baths: 1</h3>

              <!-- Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h3 class="m-0 font-weight-bold text-primary">Price: $893.60</h3>
                </div>
                <div class="card-body">
                     <ul class="list-group list-group-flush">
                         <li class="list-group-item">Contact Seller: </li>
                         <li class="list-group-item">Username</li>
                    </ul>
                </div>

              </div>
          </div>
          <div class="d-sm-flex align-items-center justify-content-center mb-4">
            <div id="map">Map</div>
          </div>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

            <div class="d-sm-flex">
                <div class="align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Description: </h1>
              </div>
                <div class="align-self-start">
                    <h5 class="mx-3 text-gray-800">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam efficitur maximus lacus, id aliquet orci. Phasellus
                        vitae pulvinar magna, ut scelerisque nisl. Sed hendrerit
                        luctus laoreet. Integer quis ornare nulla, sed consequat
                        erat. In rhoncus rutrum dapibus. Nullam varius vitae magna
                        sit amet vulputate. Nunc ac ullamcorper neque. In sit amet
                        erat ut nisl pharetra suscipit. Nunc suscipit risus ante,
                        quis eleifend ante auctor sed. Donec congue posuere eros nec
                        rhoncus. Donec in metus vel tellus mollis efficitur quis non
                        metus. In a sollicitudin quam, quis ullamcorper mauris. Donec
                        commodo sapien vel tellus euismod laoreet. Praesent nec gravida
                        risus. Sed eget ante id purus aliquam dapibus non sed odio.
                    </h5>
                </div>
            </div>

            <div class="d-sm-flex">
                <div class="align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Amenities:</h1>
                </div>
                <div class="align-self-start">
                    <h5 class="mx-4 text-gray-800">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam efficitur maximus lacus, id aliquet orci. Phasellus
                        vitae pulvinar magna, ut scelerisque nisl. Sed hendrerit
                        luctus laoreet. Integer quis ornare nulla, sed consequat
                        erat. In rhoncus rutrum dapibus. Nullam varius vitae magna
                        sit amet vulputate. Nunc ac ullamcorper neque. In sit amet
                        erat ut nisl pharetra suscipit. Nunc suscipit risus ante,
                        quis eleifend ante auctor sed. Donec congue posuere eros nec
                        rhoncus. Donec in metus vel tellus mollis efficitur quis non
                        metus. In a sollicitudin quam, quis ullamcorper mauris. Donec
                        commodo sapien vel tellus euismod laoreet. Praesent nec gravida
                        risus. Sed eget ante id purus aliquam dapibus non sed odio.
                    </h5>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; LiveGator 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <script>

    function initMap() {
      var myLatLng = {lat: 37.7219, lng: -122.4782};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: myLatLng
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj2puVPdBo9PeJ0_XP_m5JCSMuc2XGVOk&callback=initMap">
  </script>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

</body>

</html>
