<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>renter messages</title>
</head>
<body>
<a href="/">Home</a>
    <b><h3><u>All messages</u></h3></b>
    {% for item in data %}
        <div>
            <p>Customer: {{ item.customer_username }}</p>
            <p>Date: {{ item.date }}</p>
            Listing: <a href='/all_listings/{{ item.house_id}}}'> {{item.listing_name}}</a>
            <p>Message: {{ item.message }}</p>
            <p>=============================================================================</p>
        </div>
    {% endfor %}
</body>
</html>