<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/signup">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="text" placeholder="Email" name="email">
        <p>Is SFSU Student? <input type="checkbox" name="is_student"></p>
        <a href="/signup">Accept terms and conditions <input type="checkbox" name="agree"></a>
        <p><button type="submit">Signup</button></p>
    </form>
</body>
</html>
