<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signup</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Custom fonts for this template-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- Custom styles for this template-->

  <link href="../static/css.css" rel="stylesheet">


</head>

<body id="page-top">
  <disclaimer style="text-align:center" >SFSU Software Engineering Project CSC 648-848, Spring 2019. For Demonstration Only</disclaimer>


<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/search_results">
                        <span>Rent</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/renter_dashboard/add_a_new_listing">
                        <span>Post</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer_dashboard">
                        <span>My Profile</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">
                        <span>About Us</span></a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">LiveGator</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/signup">
                        <i class="far fa-user"></i>

                        <span>Sign Up</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        <span >Login</span> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Begin Page Content -->
<div class="container-fluid" style="height: 100%; width: 100%">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="padding-left: 20px">
            <br>
            <br>
            <form method="POST" action="/signup" class="needs-validation" novalidate>
                <div class="form-group">
                    <label class="control-label">Enter your e-mail address</label>
                    <input type="text" class="form-control" name="email" placeholder="Email" maxlength="40" required>
                    <div class="invalid-feedback">*Required</div>
                </div>
                <div class="form-group">
                    <label for="Username" class="control-label">Select a username</label>
                    <input type="text" class="form-control" id="Username" name="Username" placeholder="Username" maxlength="40" required>
                    <div class="invalid-feedback">*Required</div>
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Create a Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password" id="password" maxlength="40" required>
                    <div class="invalid-feedback">*Required</div>
                </div>
                <div>
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password"  placeholder="Confirm Password" required>
			        <div class="invalid-feedback">*Password Does Not Match</div>
			    	<div class="help-block with-errors"></div>
                </div>
                <br>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <label class="form-check-label" for="invalidCheck">
                        Agree to <a href="#">terms and conditions</a>
                      </label>
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>
                <div class="g-recaptcha" data-sitekey="6Le6RqQUAAAAAMuX5B5bb3a8x4yBlXJEHVVQFtYS"></div>
                <br>
                <button type="submit" class="block">Signup</button>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<!--end of contatiner>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
<div class="container my-auto">
  <div class="copyright text-center my-auto">
    <span>Copyright &copy; LiveGator 2019</span>
  </div>
</div>
</footer>
<!-- End of Footer -->


<script type="text/javascript">
    var form = document.querySelector('.needs-validation');

    form.addEventListener('submit', function(event){
        if(form.checkValidity() == false){
            event.preventDefault();
            event.stopPropagation();
        }
        form.classList.add('was-validated');
    })

    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>



</body>

</html>
